/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&family=Poiret+One&display=swap');


/* css variables */

:root {
--primary-font: 'Poiret One', sans-serif;
--secondary-font: 'Nunito', sans-serif;
--primary-color: #113053; 
--secondary-color: #C9D5D5;
--highlight-color: #9DC1D7;
--highlight-color-light: #ABA7A3;
}


/* global styles */

body {
    font-family: var(--secondary-font);
    color: var(---color)
}
    
h1, h2, h3 {
    font-family: var(--primary-font);
    color: var(--primary-color)
}

h2 {
    margin-bottom: 2rem;
}


/* buttons */

.custom-button-filled {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
}

.custom-button-filled:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: solid 2px var(--primary-color);
}


/* navbar */

#navbar {
    background-color: var(--secondary-color);
    font-family: var(--primary-font);
    min-height: 90px;
    max-height: 90px;
}

.navbar .nav-link {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-right: 1.5rem;
  font-weight: 600;
}

.navbar .nav-link:hover {
  color: var(--highlight-color-light);
}

.nav-link.active {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 1px;
}


/* hero section */

#hero {
    background-color: #C9D5D5;
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
    background-position: 50% 70%;
    padding: 5% 7%;
    margin-top: 2.5rem;
    font-size: 1.1rem;
    color: var(--primary-color)
}

.justified-text {
    text-align: justify;
}

/* media queries */

/* small devices - phones (576px and up) */

@media (min-width: 576px) {
    #hero {
        
    }
}



